<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>


    <main>
        <h1>Hola <%= user.nombreUsuario %> </h1>
        <h1>la puta que te pario</h1>
    </main>

    <%- include('../partials/footer') %>
</body>